<style>

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>


@{
    ViewData["Title"] = "Admin";
}

@model Savonia.AdManagement.SavoniaUserObject
<h2>Ylläpitäjä</h2>

    <br />
    <p>@ViewData["message"]</p>
    <br />
    <div class="adminAddUserCon">
        <button id="addUserBtn" type="button" class="adminAddUserBtn" >Lisää käyttäjä</button>
    </div>
    <br />
    <div class="searchCon">
        <form asp-action="Admin" method="get">

            <input type="text" name="username" placeholder="Username" />
            <input id="searchButton" type="submit" value="Hae" />
            <br />
        </form>
        <p style="color:red">@ViewData["userNotFound"]</p>
        <br />
        <div id="resultDiv" style="display: @ViewData["display"];">
            <form asp-action="Admin" method="post">
                <table>
                    <tr>
                        <td><label asp-for="Username"></label></td>
                        <td><input asp-for="Username" disabled="disabled"/><input asp-for="Username" type="hidden" /></td>
                    </tr>

                    <tr>
                        <td><label asp-for="Name"></label></td>
                        <td><input asp-for="Name" required/></td>
                    </tr>

                    <tr>
                        <td><label asp-for="Surname"></label></td>
                        <td><input asp-for="Surname" required/></td>
                    </tr>
                    <tr>
                        <td><label asp-for="Email"></label></td>
                        <td><input asp-for="Email"  required/></td>
                    </tr>
                    <tr>
                        <td><label asp-for="IsEnabled"></label></td>
                        <td><input asp-for="IsEnabled"/></td>
                    </tr>

                </table>
                <input type="submit" name="update" value="Päivitä" />
            </form>
            <br />

            <p>@ViewData["updateMessage"]</p>

            <br />
            <form asp-action="ResetPass" method="post">
                <table>
                    <tr>
                        <td><label>Nollaa salasana</label></td>
                        <td><input asp-for="Password" type="password" placeholder="Uusi salasana" required /></td>
                    </tr>
                </table>
                <input asp-for="Username" type="hidden" />
                <input asp-for="Name" type="hidden" />
                <input asp-for="Surname" type="hidden" />
                <input asp-for="Email" type="hidden" />
                <input asp-for="IsEnabled" type="hidden" />
                <input type="submit" name="resetPass" value="Tallenna" />
            </form>
            <br />
            <p>@ViewData["resetPassMessage"]</p>

        </div>
    </div>
    
    <div id="myModal" class="modal">

        <div class="modal-content">
            <span class="close">&times;</span>
            
            <h3>Lisää uusi käyttäjä</h3>
            <br />
            <div id="createUser">

            </div>

        </div>

    </div>

@section scripts{
    <script>

        var modal = document.getElementById('myModal');
        var btn = document.getElementById("addUserBtn");
        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function () {
            modal.style.display = "block";

            $("#createUser").load("/Desite/AddUser");
        }

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
}