@{
    ViewData["Title"] = "Admin";
}

@model UserModel
<h2>Ylläpitäjä</h2>

    <br />
    @*<p>@ViewData["message"]</p>
    <p>Nimi : @Model.AdminUser.DisplayName</p>
    <p>Sähköposti : @Model.AdminUser.Email</p>*@
    
    <br />
    <div class="adminAddUserCon">
        <p>@ViewData["message"]</p>
        <button id="addUserBtn" type="button" class="adminAddUserBtn btn btn-success" >Lisää käyttäjä</button>
        <p>@ViewData["userFoundMessage"]</p>
    </div>
    <br />
    <div class="searchCon">
        <form asp-action="Admin" method="get">

            <input type="text" name="username" placeholder="Username" />
            <input id="searchButton" type="submit" value="Hae" />
            <br />
        </form>
        <p style="color:red">@ViewData["userNotFound"]</p>
        <br />
        <div id="resultDiv" style="display: @ViewData["display"];">
            <form asp-action="Admin" method="post">
                <table>
                    <tr>
                        <td><label asp-for="User.Username" ></label></td>
                        <td><input asp-for="User.Username" class="form-control" disabled="disabled"/><input asp-for="User.Username" type="hidden" /></td>
                    </tr>

                    <tr>
                        <td><label asp-for="User.Name"></label></td>
                        <td><input asp-for="User.Name" required/></td>
                    </tr>

                    <tr>
                        <td><label asp-for="User.Surname"></label></td>
                        <td><input asp-for="User.Surname" required/></td>
                    </tr>
                    <tr>
                        <td><label asp-for="User.Email"></label></td>
                        <td><input asp-for="User.Email" disabled="disabled" required/></td>
                    </tr>
                    <tr>
                        <td><label asp-for="User.IsEnabled"></label></td>
                        <td><input asp-for="User.IsEnabled"/></td>
                    </tr>

                </table>
                <input type="submit" name="update" value="Päivitä" />
            </form>
            <br />

            <p>@ViewData["updateMessage"]</p>

            <br />
            <form asp-action="ResetPass" method="post">
                <table>
                    <tr>
                        <td><label>Nollaa salasana</label></td>
                        <td><input asp-for="User.Password" type="password" placeholder="Uusi salasana" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{10,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 10 or more characters" required /></td>
                    </tr>
                </table>
                <input asp-for="User.Username" type="hidden" />
                <input asp-for="User.Name" type="hidden" />
                <input asp-for="User.Surname" type="hidden" />
                <input asp-for="User.Email" type="hidden" />
                <input asp-for="User.IsEnabled" type="hidden" />
                <input type="submit" name="resetPass" value="Tallenna" />
            </form>
            <br />
            <p>@ViewData["resetPassMessage"]</p>

        </div>
    </div>
    
    <div id="myModal" class="modal">

        <div class="modal-content">
            <span class="close">&times;</span>
            
            <h3>Lisää uusi käyttäjä</h3>
            <br />
            <form asp-action="CreateUser" method="post">
                <table>
                    <tr>
                        <td><label asp-for="CreateUser.Username"></label></td>
                        <td><input asp-for="CreateUser.Username" class="form-control" placeholder="Käyttäjänimi" required /></td>
                    </tr>
                    <tr>
                        <td><label asp-for="CreateUser.Name"></label></td>
                        <td><input asp-for="CreateUser.Name" class="form-control" placeholder="Etunimi" required /></td>
                    </tr>
                    <tr>
                        <td><label asp-for="CreateUser.Surname"></label></td>
                        <td><input asp-for="CreateUser.Surname" class="form-control" placeholder="Sukunimi" required /></td>
                    </tr>
                    <tr>
                        <td><label asp-for="CreateUser.IsEnabled"></label></td>
                        <td><input asp-for="CreateUser.IsEnabled" class="checkbox" /></td>
                    </tr>
                    <tr>
                        <td><label asp-for="CreateUser.Password"></label></td>
                        <td><input asp-for="CreateUser.Password" class="form-control" placeholder="Salasana" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{10,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 10 or more characters" required /></td>
                    </tr>
                </table>
                <br />
                <p>@ViewData["passwordError"]</p>
                <input class="btn btn-success" type="submit" name="createUser" value="Lisää käyttäjä" />
            </form>
        </div>
    </div>

@section scripts{
    <script>

        var createUserModal = document.getElementById('myModal');
        var createBtn = document.getElementById("addUserBtn");
        var span = document.getElementsByClassName("close")[0];

        createBtn.onclick = function () {
            createUserModal.style.display = "block";
        }

        span.onclick = function () {
            createUserModal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == createUserModal) {
                createUserModal.style.display = "none";
            }
        }
    </script>
}