@{
    ViewData["Title"] = "ADUser";
}

@model UserModel

<h2>ADUser</h2>
<br />

<p>Käyttäjänimi : @Model.UserObject.Username</p>
<p>Nimi : @Model.UserObject.DisplayName</p>
<p>Sähköposti : @Model.UserObject.Email</p>
<p>Title : @Model.UserObject.Title</p>

<p>@ViewData["updateError"]</p>

<p>@ViewData["message"]</p>

<br />
<form asp-action="UpdateADUser" method="post">

    <table>
        <tr>
            <td><label asp-for="UserObject.Username"></label></td>
            <td><input class="form-control" asp-for="UserObject.Username" required /></td>
        </tr>
        <tr>
            <td><label asp-for="UserObject.Name"></label></td>
            <td><input class="form-control" asp-for="UserObject.Name" required/></td>
        </tr>
        <tr>
            <td><label asp-for="UserObject.Surname"></label></td>
            <td><input class="form-control" asp-for="UserObject.Surname" required/></td>
        </tr>

        <tr>
            <td><label asp-for="UserObject.Title"></label></td>
            <td><input class="form-control" asp-for="UserObject.Title" required/></td>
        </tr>

        <tr>
            <td><input class="btn btn-success" type="submit" value="Tallenna" /></td>
        </tr>

    </table>
</form>